
/*------------menu de navegacion-----------*/
div .navbar-header a {
    color:#FAD87E;

}
nav.navbar ul.nav li a {
    color:#FAD87E;
}
nav.navbar {
    background-color: #CC1414;
}


.img-fondo{
	text-align: center;
	color: #FAD87E;
	background-color: rgb(0,0,0,0.7);
}
.imgback{
	background-image: url(../img/creamy.jpg);
	background-repeat: no-repeat;
	background-position: center;
   	height: 500px;
	width: 100%;
	padding-top:200px;

}
/*---------------primer parrafo ---------------*/
img{
	max-width: 100%;
	height:auto;
}
.fondo1{
	text-align: center;
	color:#CC1414;
	background-color: #FAD87E;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
.fondo2{
	text-align: center;
	color:#FAD87E;
	background-color:#CC1414 ;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;
}
.fondo3{
	text-align: center;
	color:#CC1414;
	background-color: #FAD87E;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 0px;
	margin-right: 0px;
	}
.footer{
	height: 50px;
	color: #FAD87E;
	padding-left: 20px;
	padding-top: 10px;
	background-color:#CC1414 ;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;

}