
/*------------menu de navegacion-----------*/

nav.navbar ul.nav li a {
	color:#FAD87E;
}
nav.navbar {
	background-color: #CC1414;
}

img{
	max-width: 100%;
	height:auto;
}
h1,h2{
	font-family: 'Merriweather', serif;

}
p{
	font-family: 'Open Sans', sans-serif;
}

/*------------foto central----------*/
.altura{
	height: 470px;
}

.img-fondo{
	text-align: center;
	color: #FAD87E;
	background-color: rgba(0,0,0,0.7);
	height: 500px;
	width: 100%;
	padding-top:200px;
	position: relative;
}
.imgback{
	background-image: url(../img/creamy.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	width: 100%;
	position: relative;
	top:-22px;
}



/*---------------parrafos ---------------*/
.fd1{
	text-align: center;
	color:#CC1414;
	background-color: #FAD87E;
}
.fd2{
	text-align: center;
	color:#FAD87E;
	background-color:#CC1414 ;
}

.fondo{
	
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
/*------------footer----------*/
.footer{
	height: 50px;
	color: #FAD87E;
	padding-left: 20px;
	padding-top: 10px;
	background-color:#CC1414 ;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;

}